<section>
	<div class="container mt-5 py-5">
		<script src="https://apps.elfsight.com/p/platform.js" defer></script>
		<div class="elfsight-app-0e2e7628-652d-4270-8605-d7cc1777f01a"></div>
	</div>
	<div class="container-fluid block-review" style=""></div>
</section>

<style type="text/css">
	.block-review{
		height:10vh; 
		background-color: white; 
		margin-top: -7%; 
		position: relative; 
		z-index: 1000000;
	}
	@media only screen and (max-width: 600px) {
		.block-review{
			height:10vh; 
			background-color: white; 
			margin-top: -25%; 
			position: relative; 
			z-index: 1000000;
		}
	}
</style>